version: '3.8'

services:
  backend:
    build:
      context: ./src/API 
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ENABLE_SWAGGER=true
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=database;Port=5432;Database=scofield_commerce;Username=admin;Password=admin
    depends_on:
      - database

  database:
    image: postgres:15-alpine
    container_name: scofield-commerce-db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=scofield_commerce
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
